@import "tailwindcss";

@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;

  @apply bg-stone-200 text-stone-800;
  @variant dark {
    @apply bg-stone-900 text-stone-200;
  }
}

.table-header {
  @apply border text-sm font-semibold;

  @apply border-stone-600 bg-stone-300 text-stone-800;
  @variant dark {
    @apply border-stone-500 bg-stone-700 text-stone-200;
  }
}

.table-inner-cell {
  @apply border text-sm;

  @apply border-stone-400 bg-stone-50 text-stone-800;
  @variant dark {
    @apply border-stone-600 bg-stone-800 text-stone-200;
  }
}

.table-fillable-input {
  @apply w-full text-sm focus:ring-2 focus:outline-none focus:ring-inset;

  @apply bg-stone-50 text-stone-800 hover:bg-stone-300;
  @variant dark {
    @apply bg-stone-800 text-stone-200 hover:bg-stone-600;
  }
}

.comp-val {
  @apply text-center font-mono whitespace-pre;
}

.popup {
  @apply rounded-md border text-sm;

  @apply border-stone-600 bg-stone-200 text-stone-800;
  @variant dark {
    @apply border-stone-500 bg-stone-700 text-stone-200;
  }
}

.select-input {
  @apply rounded border text-sm;

  @apply border-stone-600 bg-stone-200 text-stone-800 hover:bg-stone-400;
  @variant dark {
    @apply border-stone-500 bg-stone-600 text-stone-200 hover:bg-stone-400;
  }
}

.button {
  @apply rounded border text-sm leading-tight;

  @apply border-stone-600 bg-stone-200 text-stone-800 hover:bg-stone-400 active:bg-stone-500;
  @variant dark {
    @apply border-stone-500 bg-stone-600 text-stone-200 hover:bg-stone-400 active:bg-stone-400;
  }
}

.grid-component {
  @apply rounded-lg border;

  @apply border-stone-400 bg-stone-50;
  @variant dark {
    @apply border-stone-600 bg-stone-800;
  }
}

.component-inner-border-color {
  @apply border-stone-600;
  @variant dark {
    @apply border-stone-500;
  }
}

.component-inner-border {
  @apply rounded-md border-2;

  @apply border-stone-600;
  @variant dark {
    @apply border-stone-500;
  }
}
