@import "tailwindcss";

@import "react-grid-layout/css/styles.css";
@import "react-resizable/css/styles.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply bg-stone-200 dark:bg-stone-900 text-stone-800 dark:text-stone-200;
  font-family: Arial, Helvetica, sans-serif;
}

.table-header {
  @apply bg-stone-300 dark:bg-stone-700 text-stone-800 dark:text-stone-200 border border-stone-600 dark:border-stone-500 text-sm font-semibold;
}

.table-inner-cell {
  @apply bg-stone-50 dark:bg-stone-800 text-stone-800 dark:text-stone-200 border border-stone-400 dark:border-stone-600 text-sm;
}

.table-fillable-input {
  @apply w-full bg-stone-50 dark:bg-stone-800 text-stone-800 transition-colors dark:hover:bg-stone-600 dark:text-stone-200 text-sm focus:outline-none focus:ring-2 focus:ring-inset;
}

.comp-val {
  @apply text-center font-mono whitespace-pre;
}

.popup {
  @apply bg-stone-200 dark:bg-stone-700 text-stone-800 dark:text-stone-200 border border-stone-600 dark:border-stone-500 text-sm rounded-md;
}

.select-input {
  @apply border border-stone-600 dark:border-stone-500 bg-stone-300 dark:bg-stone-600 text-stone-800 dark:text-stone-200 text-sm rounded;
}

.button {
  @apply bg-stone-300 dark:bg-stone-600 text-stone-800 dark:text-stone-200 border border-stone-600 dark:border-stone-500 text-sm rounded hover:bg-stone-400 dark:hover:bg-stone-500 active:bg-stone-500 dark:active:bg-stone-400;
}

/* See STD_COMPONENT_H in app/page.tsx */
.std-component-h {
  @apply h-153.75;
}

.grid-component {
  @apply bg-stone-50 dark:bg-stone-800 border border-stone-400 dark:border-stone-600 rounded-lg;
}

.component-inner-border {
  @apply border-2 border-stone-600 dark:border-stone-500 rounded-md;
}
