@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.table-header-no-border {
  @apply bg-gray-200 text-gray-900 text-sm font-semibold;
}

.table-header {
  @apply border-gray-400 border-1 bg-gray-200 text-gray-900 text-sm font-semibold;
}

.table-inner-cell {
  @apply border-gray-300 border-1 text-gray-900 text-sm;
}

.table-fillable-input {
  @apply w-full text-gray-900 text-sm focus:outline-none focus:ring-2 focus:ring-inset;
}

.comp-val {
  @apply text-center font-mono whitespace-pre;
}

.main-page-grid {
  display: inline-grid;
  column-gap: 35px;
  row-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  align-items: start;
}

.popup {
  /* Ensure it's on top of other content */
  @apply z-1000 absolute border-gray-400 border bg-gray-100 text-gray-900 text-sm;
}

.button {
  @apply bg-gray-200 text-gray-900 text-sm border-1 border-gray-400 hover:bg-gray-300 active:bg-gray-400;
}
