[package]
name = "sci-cream"
version = "0.1.0"
edition = "2024"

[features]
wasm = ["dep:wasm-bindgen", "dep:serde-wasm-bindgen"]
diesel = ["dep:diesel"]

# Need to force `crate-type = ["cdylib"]` here because, for the "wasm" feature, `wasm-pack` does
# not currently support a `--crate-type` flag. It can be overridden when building other features.
# See: https://github.com/drager/wasm-pack/issues/1297, https://github.com/trunk-rs/trunk
[lib]
crate-type = ["cdylib"]

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
strum = "0.27.2"
strum_macros = "0.27.2"
approx = "0.5.1"
struct_iterable = "0.1.1"
thiserror = "2.0.17"

# Optional dependencies for features
wasm-bindgen = { version = "0.2", optional = true }
serde-wasm-bindgen = { version = "0.6.5", optional = true }
diesel = { version = "2.3.3", features = ["postgres"], optional = true }

[dev-dependencies]
all_asserts = "2.3.3"
more-asserts = "0.3.1"
pretty_assertions = "1.4.1"
serde_json = "1.0.145"

[lints.rust]
# Groups
future_incompatible = "warn"
let_underscore = "warn"
nonstandard_style = "warn"
rust_2018_compatibility = "warn"
rust_2018_idioms = "warn"
rust_2021_compatibility = "warn"
rust_2024_compatibility = "warn"
unused = "warn"

# From https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html
macro_use_extern_crate = "warn"
meta_variable_misuse = "warn"
missing_abi = "warn"
missing_copy_implementations = "warn"
missing_debug_implementations = "warn"
# missing_docs = "warn" @todo
non_ascii_idents = "warn"
noop_method_call = "warn"
single_use_lifetimes = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unreachable_pub = "warn"
unsafe_code = "warn"
unsafe_op_in_unsafe_fn = "warn"
unstable_features = "warn"
unused_crate_dependencies = "warn"
unused_import_braces = "warn"
unused_lifetimes = "warn"
unused_macro_rules = "warn"
unused_qualifications = "warn"
unused_results = "warn"
variant_size_differences = "warn"

[lints.clippy]
all = { level = "warn", priority = -1 }
cargo = { level = "warn", priority = -1 }
suspicious = { level = "warn", priority = -1 }
# pedantic = "warn" @todo

# @todo Temporary allows until fixed.
cargo_common_metadata = "allow"

[lints.rustdoc]
all = "warn"
