[package]
name = "sci-cream"
version = "0.1.0"
edition = "2024"

[features]
wasm = ["dep:wasm-bindgen", "dep:serde-wasm-bindgen"]
diesel = ["dep:diesel"]

# Need to force `crate-type = ["cdylib"]` here because, for the "wasm" feature, `wasm-pack` does
# not currently support a `--crate-type` flag. It can be overridden when building other features.
# See: https://github.com/drager/wasm-pack/issues/1297, https://github.com/trunk-rs/trunk
[lib]
crate-type = ["cdylib"]

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
serde_with = "3.16.0"
strum = "0.27.2"
strum_macros = "0.27.2"
approx = "0.5.1"
struct_iterable = "0.1.1"
thiserror = "2.0.17"

# Optional dependencies for features
wasm-bindgen = { version = "0.2", optional = true }
serde-wasm-bindgen = { version = "0.6.5", optional = true }
diesel = { version = "2.3.3", features = ["postgres"], optional = true }

[dev-dependencies]
all_asserts = "2.3.3"
more-asserts = "0.3.1"
pretty_assertions = "1.4.1"
const_format = "0.2.35"
