[package]
name = "sci-cream"
version = "0.1.0"
edition = "2024"

[features]
wasm = ["dep:wasm-bindgen", "dep:serde-wasm-bindgen"]
backend = ["dep:diesel"]

# Note that this requires that we use `cargo rustc --features backend --crate-type=rlib`
# Ideally we would not specify this year, and would instead use `--crate-type=<rlib|cdylib>` as
# needed based on the feature being built, but wasm-pack does not currently support `--crate-type`.
# As such, we need to specify it here, and specify `--crate-type=rlib` when building for 'backend'.
# See: https://github.com/drager/wasm-pack/issues/1297, https://github.com/trunk-rs/trunk
#
# There is no way to run `cargo test --features backend ...` without modifying `Cargo.toml`
[lib]
crate-type = ["cdylib"]

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_with = "3.16.0"
strum = "0.27.2"
strum_macros = "0.27.2"
approx = "0.5.1"

# Optional dependencies for features
wasm-bindgen = { version = "0.2", optional = true }
serde-wasm-bindgen = { version = "0.6.5", optional = true }
diesel = { version = "2.3.3", features = ["postgres"], optional = true }

[dev-dependencies]
all_asserts = "2.3.3"
more-asserts = "0.3.1"
pretty_assertions = "1.4.1"
