# This workflow will setup a postgres database, install Node.js, install the Rust toolchain, install
# `pnpm`, install all workspace dependencies, seed the database, build the entire workspace,
# including the underlying `sci-cream` Rust crate at `packages/sci-cream` and the `sci-cream`
# next.js app at `packages/app`, and then it runs all workspace tests via `pnpm test` at the root,
# which recursively runs tests at `packages/*`, including `cargo test ...` for the Rust crate and
# `vitest run` for JS apps. This workflow runs on push and pull requests to the main branch.
#
# This workflow can be run locally using `act`, e.g. by running the following from the root:
#   `act --reuse --workflows ./.github/workflows/app.yml`
#
# When running locally via `act`, the postgres service may fail to start if a service is already
# running on port 5432. To fix this, either stop the local postgres service, or change the port
# that it's running on by modifying `port` in `postgresql.conf`, then restart the service/system.
name: App CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  APP_USER_NAME: SciCream App
  APP_USER_EMAIL: app@scicream.ca
  TEST_USER_NAME: SciCream Test
  TEST_USER_EMAIL: test@scicream.ca

defaults:
  run:
    working-directory: ./packages/app

jobs:
  unit_and_e2e_tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env: &postgres-env
          POSTGRES_DB: sci_cream
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        options: &postgres-options >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Host port matching port in DATABASE_URL
          - 5432:5432 # host:service_container
    env:
      # Ensure that no two jobs with a postgres service use the same port,
      # as this can cause conflicts when running locally via `act`.
      DATABASE_URL: postgres://postgres:password@localhost:5432/sci_cream
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          cargo-installs: wasm-pack
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/sci-cream-package
      - uses: ./.github/actions/build-and-seed-database
      - uses: ./.github/actions/setup-playwright

      - name: Run app unit tests with Vitest
        run: pnpm test:unit

      - name: Run app end-to-end tests with Playwright
        run: pnpm test:e2e

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-pnpm

      - name: Run ESLint check
        run: pnpm run lint

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-pnpm

      - name: Run Prettier check
        run: pnpm run prettier

  code_coverage:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env: *postgres-env
        options: *postgres-options
        ports:
          - 5433:5432
    env:
      DATABASE_URL: postgres://postgres:password@localhost:5433/sci_cream
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          cargo-installs: wasm-pack
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/sci-cream-package
      - uses: ./.github/actions/build-and-seed-database

      - name: Run app code coverage
        run: pnpm coverage

      - if: vars.ACT != 'true'
        name: Upload code coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: app

  benchmarks:
    runs-on: ubuntu-latest
    # Avoid Playwright server conflicts when running locally via `act`
    needs: [unit_and_e2e_tests]
    timeout-minutes: 60
    services:
      postgres:
        image: postgres:16
        env: *postgres-env
        options: *postgres-options
        ports:
          - 5434:5432
    env:
      DATABASE_URL: postgres://postgres:password@localhost:5434/sci_cream
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          cargo-installs: wasm-pack
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/sci-cream-package
      - uses: ./.github/actions/build-and-seed-database
      - uses: ./.github/actions/setup-playwright

      - name: Run app benchmarks
        run: pnpm bench

      - if: vars.ACT != 'true'
        name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: "App UI Benchmarks"
          tool: "customSmallerIsBetter"
          output-file-path: packages/app/bench-results/bench_output_ui.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
