# This workflow will setup a postgres database, install Node.js, install the Rust toolchain, install
# `pnpm`, install all workspace dependencies, seed the database, build the entire workspace,
# including the underlying `sci-cream` Rust crate at `packages/sci-cream` and the `sci-cream`
# next.js app at `packages/app`, and then it runs all workspace tests via `pnpm test` at the root,
# which recursively runs tests at `packages/*`, including `cargo test ...` for the Rust crate and
# `vitest run` for JS apps. This workflow runs on push and pull requests to the main branch.
#
# This workflow can be run locally using `act`, e.g. by running the following from the root:
#   `act --reuse --workflows ./.github/workflows/app.yml`
#
# When running locally via `act`, the postgres service may fail to start if a service is already
# running on port 5432. To fix this, either stop the local postgres service, or change the port
# that it's running on by modifying `port` in `postgresql.conf`, then restart the service/system.
name: App CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  APP_USER_NAME: SciCream App
  APP_USER_EMAIL: app@scicream.ca
  TEST_USER_NAME: SciCream Test
  TEST_USER_EMAIL: test@scicream.ca

defaults:
  run:
    working-directory: ./packages/app

jobs:
  unit_tests_with_vitest:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: sci_cream
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          # Host port matching port in DATABASE_URL
          - 5432:5432 # host:service_container
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      # Ensure that no two jobs with a postgres service use the same port,
      # as this can cause conflicts when running locally via `act`.
      DATABASE_URL: postgres://postgres:password@localhost:5432/sci_cream
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install workspace pnpm dependencies
        run: pnpm --dir ../../ install
      - name: Set up prerequisites
        run: pnpm prerequisites
      - name: Build app
        run: pnpm build
      - name: Seed database
        run: |
          npx drizzle-kit push
          pnpm tsx ./src/lib/db/seed.ts
      - name: Run app unit tests with Vitest
        run: pnpm test:unit

  e2e_tests_with_playwright:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: sci_cream
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          # Host port matching port in DATABASE_URL
          - 5433:5432 # host:service_container
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      # Ensure that no two jobs with a postgres service use the same port,
      # as this can cause conflicts when running locally via `act`.
      DATABASE_URL: postgres://postgres:password@localhost:5433/sci_cream
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install workspace pnpm dependencies
        run: pnpm --dir ../../ install
      - name: Set up prerequisites
        run: pnpm prerequisites
      - name: Build app
        run: pnpm build
      - name: Seed database
        run: |
          npx drizzle-kit push
          pnpm tsx ./src/lib/db/seed.ts
      - name: Install Playwright default browsers
        run: pnpm playwright install --with-deps
      - name: Install Playwright Chrome browser
        run: pnpm playwright install chrome --with-deps
      - name: Run app end-to-end tests with Playwright
        run: pnpm test:e2e
      - if: ${{ vars.ACT != 'true' && !cancelled() }}
        name: Upload Playwright report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: packages/app/playwright-report

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install dependencies, ESLint and plugins
        run: pnpm install
      - name: Run ESLint check
        run: pnpm run lint

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install prettier
        run: pnpm install -D prettier prettier-plugin-tailwindcss
      - name: Run Prettier check
        run: pnpm run prettier

  code_coverage:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: sci_cream
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          # Host port matching port in DATABASE_URL
          - 5434:5432 # host:service_container
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      # Ensure that no two jobs with a postgres service use the same port,
      # as this can cause conflicts when running locally via `act`.
      DATABASE_URL: postgres://postgres:password@localhost:5434/sci_cream
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install workspace pnpm dependencies
        run: pnpm --dir ../../ install
      - name: Set up prerequisites
        run: pnpm prerequisites
      - name: Build app
        run: pnpm build
      - name: Seed database
        run: |
          npx drizzle-kit push
          pnpm tsx ./src/lib/db/seed.ts
      - name: Run app code coverage
        run: pnpm coverage
      - if: vars.ACT != 'true'
        name: Upload code coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: app
