# This workflow will install Rust toolchain dependencies, build the `packages/sci-cream` crate, run
# tests, build docs, run clippy, run rustfmt, run benchmarks, and generate code coverage reports and
# upload them to Codecov. It will also install `wasm-pack` and Node.js, build the WebAssembly/Wasm
# `packages/sci-cream` package, run vitest tests, lint via ESLint, and run Prettier checks. This
# workflow runs on push and pull requests to the `main` branch.
#
# This workflow can be run locally using `act`, e.g. by running the following from the root:
#   `act --reuse --workflows ./.github/workflows/crate.yml`
name: Crate CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

defaults:
  run:
    working-directory: ./packages/sci-cream

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo build --all-features --all-targets
      - run: cargo test --all-features --all-targets
      - run: cargo test --all-features --doc

  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - run: cargo doc --all-features --no-deps --document-private-items
      - run: cargo doc --examples --no-deps

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - run: cargo clippy --all-features --all-targets --no-deps

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --all -- --check

  pnpm_build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Installing pnpm
        run: npm install -g pnpm
      - name: Install dependencies
        run: pnpm install
      - name: Installing wasm-pack
        run: cargo install wasm-pack
      - name: Building wasm package
        run: pnpm run build:wasm
      - name: Running `vite build`
        run: pnpm run build:js
      - name: Running `vitest` tests
        run: pnpm run test:js

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Installing pnpm
        run: npm install -g pnpm
      - name: Installing dependencies, ESLint and plugins
        run: pnpm install
      - name: Running ESLint check
        run: pnpm run lint:js

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Installing pnpm
        run: npm install -g pnpm
      - name: Installing prettier
        run: pnpm install -D prettier prettier-plugin-tailwindcss
      - name: Running Prettier check
        run: pnpm run prettier
