# This workflow will install Rust toolchain dependencies, build the `packages/sci-cream` crate, run
# tests, build docs, run clippy, run rustfmt, run benchmarks, and generate code coverage reports and
# upload them to Codecov. It will also install `wasm-pack` and Node.js, build the WebAssembly/Wasm
# `packages/sci-cream` package, run vitest tests, lint via ESLint, and run Prettier checks. This
# workflow runs on push and pull requests to the `main` branch.
#
# This workflow can be run locally using `act`, e.g. by running the following from the root:
#   `act --reuse --workflows ./.github/workflows/crate.yml`
name: Crate CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

defaults:
  run:
    working-directory: ./packages/sci-cream

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
      - run: cargo build --all-features --all-targets
      - run: cargo test --all-features --all-targets
      - run: cargo test --all-features --doc

  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
      - run: cargo doc --all-features --no-deps --document-private-items
      - run: cargo doc --examples --no-deps

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          components: clippy
      - run: cargo clippy --all-features --all-targets --no-deps

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  pnpm_build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          cargo-installs: wasm-pack
      - uses: ./.github/actions/setup-node
        with:
          working-directory: "./packages/sci-cream"
      - uses: ./.github/actions/sci-cream-package
      - name: Run `vitest` tests
        run: pnpm run test:js

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-pnpm
      - name: Run ESLint check
        run: pnpm run lint:js

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-pnpm
      - name: Run Prettier check
        run: pnpm run prettier

  code_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          cargo-installs: wasm-pack,cargo-llvm-cov
      - uses: ./.github/actions/setup-node
        with:
          working-directory: "./packages/sci-cream"
      - uses: ./.github/actions/sci-cream-package
      - name: Run Rust code coverage
        run: RUSTFLAGS="-A unstable_features" pnpm coverage:rust
      - name: Run JS code coverage
        run: pnpm coverage:js
      - if: vars.ACT != 'true'
        name: Upload code coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: crate

  rust_benchmarks:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          cargo-installs: cargo-criterion
      - name: Run Rust benchmarks
        run: |
          set -o pipefail
          cargo criterion --all-features --output-format bencher 2>&1 | tee bench_output_rust.txt
      - if: vars.ACT != 'true'
        name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: "sci-cream Rust benchmarks"
          tool: "cargo"
          output-file-path: packages/sci-cream/bench_output_rust.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true

  js_benchmarks:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-rust
        with:
          cargo-installs: wasm-pack
      - uses: ./.github/actions/setup-node
        with:
          working-directory: "./packages/sci-cream"
      - uses: ./.github/actions/sci-cream-package
      - name: Run JS benchmarks
        run: |
          set -o pipefail
          pnpm run bench:js | tee bench_output_js.txt
      - if: vars.ACT != 'true'
        name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          name: "sci-cream JS benchmarks"
          tool: "benchmarkjs"
          output-file-path: packages/sci-cream/bench_output_js.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
