# This workflow will install Rust toolchain dependencies, build the `packages/sci-cream` crate, run
# tests, build docs, run clippy, run rustfmt, run benchmarks, and generate code coverage reports and
# upload them to Codecov. It will also install `wasm-pack` and Node.js, build the WebAssembly/Wasm
# `packages/sci-cream` package, run vitest tests, lint via ESLint, and run Prettier checks. This
# workflow runs on push and pull requests to the `main` branch.
#
# This workflow can be run locally using `act`, e.g. by running the following from the root:
#   `act --reuse --workflows ./.github/workflows/crate.yml`
name: Crate CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

defaults:
  run:
    working-directory: ./packages/sci-cream

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - run: cargo build --all-features --all-targets
      - run: cargo test --all-features --all-targets
      - run: cargo test --all-features --doc

  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - run: cargo doc --all-features --no-deps --document-private-items
      - run: cargo doc --examples --no-deps

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - run: cargo clippy --all-features --all-targets --no-deps

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - run: cargo fmt --all -- --check

  pnpm_build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install dependencies
        run: pnpm install
      - name: Build wasm package
        run: pnpm run build:wasm
      - name: Run `vite build`
        run: pnpm run build:js
      - name: Run `vitest` tests
        run: pnpm run test:js

  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install dependencies, ESLint and plugins
        run: pnpm install
      - name: Run ESLint check
        run: pnpm run lint:js

  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install prettier
        run: pnpm install -D prettier prettier-plugin-tailwindcss
      - name: Run Prettier check
        run: pnpm run prettier

  code_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install pnpm dependencies
        run: pnpm install
      - name: Build sci-cream crate
        run: pnpm build
      - name: Run crate code coverage
        run: RUSTFLAGS="-A unstable_features" pnpm coverage
      - if: vars.ACT != 'true'
        name: Upload code coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: crate

  rust_benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - name: Run Rust benchmarks
        run: cargo bench --all-features | tee bench_output_rust.txt
      - if: vars.ACT != 'true'
        name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: "cargo"
          output-file-path: bench_output_rust.txt

  js_benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "packages/sci-cream"
      - name: Install wasm-pack
        run: cargo install wasm-pack
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Install dependencies
        run: pnpm install
      - name: Build wasm package
        run: pnpm run build:wasm
      - name: Run `vite build`
        run: pnpm run build:js
      - name: Run JS benchmarks
        run: pnpm run benchmark:js | tee bench_output_js.txt
      - if: vars.ACT != 'true'
        name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: "benchmarkjs"
          output-file-path: bench_output_js.txt
